.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
        padding-left: 0.5rem;
}

.navbar-left .logo {
    font-size: 1.5rem;
    color: rgb(184, 144, 223);
    text-decoration: none;
}

.navbar-right .nav-links {
    list-style-type: none;
    display: flex;
}

.navbar-right .nav-links li {
    margin-right: 1rem;
}

.navbar-right .nav-links a {
    color: rgb(184, 144, 223);
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
}