.navbar {
    background-color: rgb(246, 215, 239);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarRight {
    display: flex;
    justify-content: right;
}

.logo {
    font-size: x-large;
    justify-content: right;
    padding-right: 20px;
}

.menuBars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: #000;
}

.userIcon {
    margin-left: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #000;
    padding-right: 20px;
}